/** {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}*/

@font-face{
    font-family: "Noto Sans"
    src: local("Noto Sans");
}

@font-face{
    font-family: "Noto Sans Condensed";
    src: local("Noto Sans Condensed");
}

body {
    background-color: #2e3440;
    margin: 0;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 16px;
}

.container {
    margin: 8%;
    padding: 2%;
    height: 65%;
}

#time {
    padding-top: 2%;
    padding-bottom: 8%;
    color: #4c566a;
    font-family: "Noto Sans Condensed";
    font-size: 100px;
    text-align: center;
}

.links {
    float: left;
    color: #4c566a;
    font-family: "Noto Sans";
    width: 68%;
    height: 100%;
    line-height: 1.8;
}

.pic {
    float: right;
    width: 30%;
    height: 100%;
    text-align: left;
    border: solid #4c566a 4px;

    background-image: url(pic.jpg);
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: cover;
    background-position: center;
}

.nav {
    float: left;
    text-align: right;
    display: inline-block;
    width: 120px;
    font-family: "Noto Sans";
}

a {
    color: #d8dee9;
    text-decoration: none;
}

a:hover {
    color: #81a1c1;
}

.content {
    text-align: left;
    margin-left: 120px;
    padding-left: 10px;
}
