/** {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}*/

body {
    background-color: #333333;
    margin: 0;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 14px;
}

#time {
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    color: #eaeaea;
    font-family: "Roboto Condensed";
    font-size: 72px;
    text-align: center;

    background: #555555;
    border: solid #444444 1px;
}

.links {
    float: left;
    color: #eaeaea;
    font-family: "Roboto";
    width: 45%;
    height: 45%;
    background: #555555;
    border: solid #444444 1px;
    line-height: 1.8;
}

.pic {
    float: right;
    width: 45%;
    height: 45%;
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
    border: solid #444444 2px;
}

.nav {
    float: left;
    text-align: right;
    display: inline-block;
    width: 120px;
    font-family: "Roboto Condensed";
}

a {
    color: #cacaca;
    text-decoration: none;
}

a:hover {
    color: #eaeaea;
}

.content {
    text-align: left;
    margin-left: 120px;
    padding-left: 10px;
}
