/** {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}*/

body {
    background-color: #6a7187;
    margin: 0;
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 16px;

   /* background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-position: center;*/
}

.container {
    /*background-color: #555555;*/
    margin: 8%;
    padding: 2%;
    height: 65%;
}

#time {
    padding-top: 2%;
    padding-bottom: 8%;
    color: #333333;
    font-family: "Lato Thin";
    font-size: 72px;
    text-align: center;
}

.links {
    float: left;
    color: #333333;
    font-family: "Lato";
    width: 68%;
    height: 100%;
    line-height: 1.8;
    background-color: #dcdfe8;
    border: solid #bec9e8 2px;
}

.pic {
    float: right;
    width: 30%;
    height: 100%;
    text-align: left;
    border: solid #bec9e8 2px;

    background-image: url(pic.png);
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: cover;
    background-position: center;
}

.nav {
    float: left;
    text-align: right;
    display: inline-block;
    width: 120px;
    font-family: "Lato Semibold";
}

a {
    color: #666666;
    text-decoration: none;
}

a:hover {
    color: #333333;
}

.content {
    text-align: left;
    margin-left: 120px;
    padding-left: 10px;
}

.sleepy {
    margin-top: 2%;
    text-align: center;
    font-size: 48px;
}
