<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="mat" label="Matemática">
		<item icon="/usr/share/icons/hicolor/16x16/apps/octave.png" label="Octave">
			<action name="Execute">
				<execute>/usr/bin/octave --force-gui</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/matlab.png" label="MATLAB">
			<action name="Execute">
				<execute>matlab</execute>
			</action>
		</item>
		<item icon="/usr/share/pixmaps/spyder3.png" label="Spyder">
			<action name="Execute">
				<execute>spyder3</execute>
			</action>
		</item>
	</menu>
	<menu id="juegos" label="Juegos">
		<item label="AM2R">
			<action name="Execute">
				<execute>AM2R</execute>
			</action>
		</item>
	</menu>
	<menu id="sim" label="Simulación">
		<item icon="/home/r-russo/.local/share/icons/hicolor/32x32/apps/0E18_scad3.0.png" label="LTSpice">
			<action name="Execute">
				<execute>env WINEPREFIX=&quot;/home/r-russo/.wine&quot; wine C:\\windows\\command\\start.exe /Unix /home/r-russo/.wine/dosdevices/c:/users/r-russo/Start\ Menu/LTspice\ IV.lnk</execute>
			</action>
		</item>
	</menu>
	<menu id="emu" label="Emuladores">
		<item icon="/usr/share/icons/hicolor/16x16/apps/snes9x.png" label="Snes9X">
			<action name="Execute">
				<execute>snes9x-gtk</execute>
			</action>
		</item>
		<item icon="/usr/share/icons/hicolor/16x16/apps/vbam.png" label="VBA-M">
			<action name="Execute">
				<execute>gvbam</execute>
			</action>
		</item>
		<item icon="/usr/share/pixmaps/ppsspp.svg" label="ppsspp">
			<action name="Execute">
				<execute>ppspspp</execute>
			</action>
		</item>
		<item icon="/home/r-russo/.icons/Nintendo-DS-icon.png" label="DeSmuME">
			<action name="Execute">
				<execute>desmume</execute>
			</action>
		</item>
	</menu>
	<menu icon="/usr/share/icons/hicolor/48x48/mimetypes/virtualbox.png" id="virtualbox" label="VirtualBox">
		<item label="VirtualBox">
			<action name="Execute">
				<execute>VirtualBox</execute>
			</action>
		</item>
		<item icon="/home/r-russo/.icons/os_icons/os_winxp.png" label="Windows XP">
			<action name="Execute">
				<execute>/usr/bin/VirtualBox --comment &quot;Windows XP&quot; --startvm &quot;1ed96653-a1a6-4d9b-81a6-11e1f33f72eb&quot;</execute>
			</action>
		</item>
		<item icon="/home/r-russo/.icons/os_icons/os_win7_64.png" label="Windows 7">
			<action name="Execute">
				<execute>/usr/bin/VirtualBox --comment &quot;Windows 7&quot; --startvm &quot;d107ccb9-a460-44cb-881f-fb051de6193f&quot;</execute>
			</action>
		</item>
	</menu>
	<menu id="root-menu" label="Openbox 3">
		<item label="Steam">
			<action name="Execute">
				<execute>steam</execute>
			</action>
		</item>
		<menu id="mat"/>
		<menu id="sim"/>
		<menu id="emu"/>
		<menu id="virtualbox"/>
		<separator/>
		<item label="Fondo de pantalla">
			<action name="Execute">
				<execute>nitrogen</execute>
			</action>
		</item>
		<item label="Preferencias de Openbox">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="Reconfigurar Openbox">
			<action name="Reconfigure"/>
		</item>
		<menu id="salir" label="Salir">
			<item label="Cerrar sesión">
				<action name="Execute">
					<execute>openbox --exit</execute>
				</action>
			</item>
			<separator/>
			<item label="Apagar">
				<action name="Execute">
					<execute>poweroff</execute>
				</action>
			</item>
			<item label="Reiniciar">
				<action name="Execute">
					<execute>reboot</execute>
				</action>
			</item>
			<item label="Suspender">
				<action name="Execute">
					<execute>systemctl suspend</execute>
				</action>
			</item>
		</menu>
	</menu>
</openbox_menu>
